<%- include("layout", { body: `
  <h1 class="mb-4">Trang chủ</h1>
  <a href="/login" class="btn btn-primary">Đăng nhập</a>
  <a href="/register" class="btn btn-success">Đăng ký</a>
  <a href="/logout" class="btn btn-danger">Đăng xuất</a>
` }) %>
